/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black-color: #0009;
  --black-color2: hsl(220, 93%, 58%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 300;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: url(img/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  --black-shadow: 0 0 10px black;
  --primary: #4bb6b7;
  --backdrop: #000b;
}

body::before {
  content: '';
  background: var(--backdrop);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

th, td {
  white-space: nowrap;
  vertical-align: middle !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

svg {
  width: 1em;
  height: 1em;
}

.navbar {
  background: linear-gradient(to bottom, black, var(--backdrop), transparent);
  position: sticky !important;
  top: 0;
  backdrop-filter: blur(10px);
}

.navbar ~ * {
  z-index: -1;
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  color: black;
}

.nav-link {
  color: white !important;
}
