body {
  background: url(img/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative;
  height: 100vh;

  --black-shadow: 0 0 10px black;
  --primary: #4bb6b7;
  --backdrop: #0009;
}

body::before {
  content: '';
  background: var(--backdrop);
  width: 100%;
  height: 100%;
  position: fixed;
}

h1 {
  font-weight: bold;
  letter-spacing: -1.5px;
  margin-top: 0;
}

h1.title {
  font-size: 2.75em;
  line-height: 1em;
}

h1.title,
p {
  text-shadow: var(--black-shadow);
}

a {
  color: #333;
  text-decoration: none;
  transition: color 100ms ease-in-out;
}

a:hover {
  color: var(--primary);
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.content label {
  font-size: 14px;
  user-select: none;
  padding: 5px;
}

button {
  position: relative;
  border-radius: 20px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: letter-spacing 300ms, transform 100ms;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: inherit;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

button.ghost {
  background: #fff3;
  border: 2px solid currentColor;
  color: white;
}

button.ghost i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#login i {
  left: 10%;
}

#register i {
  right: 10%;
}

form {
  background-color: white;
  padding: 0 2em;
  height: 100%;
  display: grid;
  place-content: center;
  justify-content: initial;
  text-align: center;
}

form img {
  margin: auto;
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  padding: 12px 0;
  margin: 8px 0;
  width: 100%;
}

.container {
  border-radius: 25px;
  box-shadow: 0 0 28px black;
  position: relative;
  width: 768px;
  max-width: 95%;
  min-height: 500px;
  overflow: hidden;
}

.form-container {
  position: absolute;
  height: 100%;
}

.form-control {
  position: relative;
}

.form-control span {
  position: absolute;
  border-bottom: 3px solid #2691d9;
  bottom: 8px;
  transition: width 300ms;
  left: 0;
  width: 0;
}

.form-control input:focus~span {
  width: 100%;
}

.form-control small {
  position: absolute;
  color: red;
  top: 50px;
  left: 0;
  font-size: 12px;
}

.login-container,
.register-container {
  width: 50%;
}

.container.right-panel-active .register-container {
  transform: translateX(100%);
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 600ms;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background: url('img/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 600ms;
}

.overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: grid;
  place-content: center;
  padding: 0 20px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 600ms;
  box-sizing: border-box;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
